@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="container">
    <h2>@ViewData["Title"].</h2>
    <div>
        <p>
            У вас нет прав для просмотра этого ресурса.
        </p>
    </div>
</div>