@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="container">
    <h2>@ViewData["Title"].</h2>
    <div>
		<p>
			Запрашиваемый вами файл или страница не найден(а). Обратитесь к администратору!
		</p>
    </div>
</div>