
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="incident-component"></div>

<script src="~/dist/incident.js" asp-append-version="true"></script>













