<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="1073741824" maxAllowedContentLength="4294967295" />
        <!--реальное ограничение устанавливается в StartUp из appsettings, здесь максимальное значение. на случай, если в appsettings будет значение больше, чем дефолтное maxAllowedContentLength (кажется 60mb)-->
      </requestFiltering>
    </security>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development-Minnakhmetov" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <system.web>
    <machineKey validationKey="68FD84D88B32415E4616BEA0859F62AD584A406246FBC9DF872169DA8AF22D16DA5A157CDFCE050BF05E3660B767FF772DECBA20B8508E8D890282DA2008D07E" decryptionKey="2585FD95A8A7729A0D88DEECFAC1229B784556809B42836B" validation="SHA1" decryption="Auto" />
  </system.web>
</configuration>